<?xml version="1.0" encoding="utf-8"?>
<Containers>
  <Container Key="-1592402827">
    <Items>
      <Item Id="{9d7fe5be-e819-426d-8381-828b9e6be836}">
        <Id>1</Id>
        <File>ProyectoPropietarios\Validaciones.cs</File>
        <Line>158</Line>
        <Character>19</Character>
      </Item>
    </Items>
  </Container>
</Containers>